# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [166]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import time
import os

# Import API key
from api_keys import g_key

# File to use as input - Output File (CSV) from Part 1
output_data_file = "output_data/cities.csv"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [167]:
# Read input file from Part 1, display a few rows
cities_df = pd.read_csv(output_data_file)
cities_df.head(20)

,city_name,city_number,country,lat,lon,temp,humidity,wind,clouds
0,avarua,4035715,CK,-21.21,-159.78,28.00,88,3.10,1
1,butaritari,2110227,KI,3.07,172.79,28.46,80,9.01,51
2,mataura,6201424,NZ,-46.19,168.86,12.24,53,0.74,0
3,barentsburg,1000000,,0.00,0.00,0.00,0,0.00,0
4,constitucion,3893726,CL,-35.33,-72.42,11.55,65,2.97,0
5,illoqqortoormiut,1000000,,0.00,0.00,0.00,0,0.00,0
6,jeremie,3723593,HT,18.65,-74.12,26.35,77,0.92,5
7,columbus,4509177,US,39.96,-83.00,8.09,43,1.50,20
8,okato,2185763,NZ,-39.20,173.88,16.67,65,3.58,97
9,bluff,2206939,NZ,-46.60,168.33,10.84,57,1.77,2
10,rikitea,4030556,PF,-23.12,-134.97,24.36,71,3.45,0
11,puerto ayora,3652764,EC,-0.74,-90.35,24.44,94,0.89,82
12,kodiak,5866583,US,57.79,-152.41,11.00,62,2.60,75
13,sitka,5557293,US,57.05,-135.33,14.00,67,2.60,1
14,betlitsa,576626,RU,54.01,33.96,1.25,86,5.07,26
15,port alfred,964432,ZA,-33.59,26.89,16.11,96,0.89,93
16,busselton,2075265,AU,-33.65,115.33,17.97,42,3.14,99
17,cabo san lucas,3985710,MX,22.89,-109.91,24.64,47,2.10,5
18,ushuaia,3833367,AR,-54.80,-68.30,5.00,65,16.50,40
19,nikolskoye,546105,RU,59.70,30.79,0.22,86,3.00,38

In [168]:
len(cities_df)

1114

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [169]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [170]:
humid_cities_df1 = cities_df.where(cities_df["humidity"]<=87)
humid_cities_df2 = humid_cities_df1.where(cities_df["humidity"]>=70)
#humid_cities_df2.head(20)
nonull_humid_cities_df = humid_cities_df2.dropna(axis='index', how='any')
nonull_humid_cities_df.head(20)

,city_name,city_number,country,lat,lon,temp,humidity,wind,clouds
1,butaritari,2110227.0,KI,3.07,172.79,28.46,80.0,9.01,51.0
6,jeremie,3723593.0,HT,18.65,-74.12,26.35,77.0,0.92,5.0
10,rikitea,4030556.0,PF,-23.12,-134.97,24.36,71.0,3.45,0.0
14,betlitsa,576626.0,RU,54.01,33.96,1.25,86.0,5.07,26.0
19,nikolskoye,546105.0,RU,59.70,30.79,0.22,86.0,3.00,38.0
20,pisco,3932145.0,PE,-13.70,-76.22,19.00,82.0,4.60,83.0
23,grand gaube,934479.0,MU,-20.01,57.66,20.56,74.0,0.89,14.0
24,provideniya,4031574.0,RU,64.38,-173.30,1.00,78.0,2.00,75.0
27,bonthe,2409914.0,SL,7.53,-12.51,26.49,85.0,1.84,100.0
28,vaini,4032243.0,TO,-21.20,-175.20,26.00,78.0,2.60,75.0
35,santa isabel,3450188.0,BR,-23.32,-46.22,14.00,87.0,0.50,44.0
37,kalmunai,1242110.0,LK,7.42,81.82,27.91,78.0,0.60,95.0
39,lebu,3883457.0,CL,-37.62,-73.65,10.82,82.0,3.30,49.0
41,oskarshamn,2686162.0,SE,57.26,16.45,2.06,86.0,4.10,0.0
44,cape town,3369157.0,ZA,-33.93,18.42,13.09,82.0,0.50,75.0
46,iqaluit,5983720.0,CA,63.75,-68.51,-3.17,86.0,8.70,90.0
47,meulaboh,1214488.0,ID,4.14,96.13,27.57,81.0,2.07,100.0
48,nanortalik,3421765.0,GL,60.14,-45.24,4.95,79.0,4.41,100.0
49,finschhafen,2097418.0,PG,-6.60,147.87,27.07,80.0,2.96,100.0
50,rabo de peixe,3372745.0,PT,37.80,-25.58,13.00,82.0,3.60,40.0

In [171]:
len(nonull_humid_cities_df)

363

In [172]:
# Create a list containing coordinates
# New dataframes
coordinates = []

coordinates = nonull_humid_cities_df[["lat", "lon"]]

#    (40.71, -74.00),
#    (30.26, -97.74),
#    (46.87, -96.78),
#    (47.60, -122.33),
#    (32.71, -117.16)
#]
coordinates

        lat     lon
1      3.07  172.79
6     18.65  -74.12
10   -23.12 -134.97
14    54.01   33.96
19    59.70   30.79
...     ...     ...
1095   9.21  -78.88
1100  10.63  -61.38
1102  41.98   27.53
1109 -16.21  -44.43
1112  39.36   -9.38

[363 rows x 2 columns]

In [173]:
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [174]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [189]:
good_temp_cities_df = nonull_humid_cities_df.where(cities_df["temp"]<=32)
great_temp_cities_df = good_temp_cities_df.where(cities_df["temp"]>=21)

hotel_temp_df = great_temp_cities_df.dropna(axis='index', how='any')

hotel_df = hotel_temp_df.rename(columns={"lat":"Lat", "lon":"Lng"})
hotel_df.head(20)

,city_name,city_number,country,Lat,Lng,temp,humidity,wind,clouds
1,butaritari,2110227.0,KI,3.07,172.79,28.46,80.0,9.01,51.0
6,jeremie,3723593.0,HT,18.65,-74.12,26.35,77.0,0.92,5.0
10,rikitea,4030556.0,PF,-23.12,-134.97,24.36,71.0,3.45,0.0
27,bonthe,2409914.0,SL,7.53,-12.51,26.49,85.0,1.84,100.0
28,vaini,4032243.0,TO,-21.20,-175.20,26.00,78.0,2.60,75.0
37,kalmunai,1242110.0,LK,7.42,81.82,27.91,78.0,0.60,95.0
47,meulaboh,1214488.0,ID,4.14,96.13,27.57,81.0,2.07,100.0
49,finschhafen,2097418.0,PG,-6.60,147.87,27.07,80.0,2.96,100.0
60,atuona,4020109.0,PF,-9.80,-139.03,26.95,73.0,8.00,19.0
62,faanui,4034551.0,PF,-16.48,-151.75,27.51,76.0,5.63,98.0
65,marawi,1701054.0,PH,8.00,124.29,29.44,75.0,2.68,72.0
73,caravelas,3466980.0,BR,-17.71,-39.25,22.60,85.0,2.01,8.0
92,airai,1651810.0,TL,-8.93,125.41,22.31,70.0,2.27,99.0
107,ixtapa,4004293.0,MX,20.70,-105.20,25.00,83.0,2.60,5.0
108,manta,3654410.0,EC,-0.95,-80.73,27.00,74.0,3.60,75.0
124,kloulklubed,7671223.0,PW,7.04,134.26,31.00,70.0,2.60,75.0
134,bairiki,7601762.0,KI,1.33,172.98,30.00,74.0,6.20,40.0
136,fare,4034496.0,PF,-16.70,-151.02,28.01,75.0,6.16,99.0
137,mitsamiouli,921786.0,KM,-11.38,43.28,27.07,73.0,4.01,100.0
142,kuala terengganu,1734705.0,MY,5.33,103.14,30.56,79.0,2.24,98.0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [190]:
#sorted_df = hotel_df.sort_values("temp")
#sorted_df.head(20)
hotel_df['hotel_name'] = ""
#hotel_df.head(20)

hotel_coordinates = []

hotel_coordinates = hotel_df[["Lat", "Lng"]]

In [191]:
hotel_df.head(20)

,city_name,city_number,country,Lat,Lng,temp,humidity,wind,clouds,hotel_name
1,butaritari,2110227.0,KI,3.07,172.79,28.46,80.0,9.01,51.0,
6,jeremie,3723593.0,HT,18.65,-74.12,26.35,77.0,0.92,5.0,
10,rikitea,4030556.0,PF,-23.12,-134.97,24.36,71.0,3.45,0.0,
27,bonthe,2409914.0,SL,7.53,-12.51,26.49,85.0,1.84,100.0,
28,vaini,4032243.0,TO,-21.20,-175.20,26.00,78.0,2.60,75.0,
37,kalmunai,1242110.0,LK,7.42,81.82,27.91,78.0,0.60,95.0,
47,meulaboh,1214488.0,ID,4.14,96.13,27.57,81.0,2.07,100.0,
49,finschhafen,2097418.0,PG,-6.60,147.87,27.07,80.0,2.96,100.0,
60,atuona,4020109.0,PF,-9.80,-139.03,26.95,73.0,8.00,19.0,
62,faanui,4034551.0,PF,-16.48,-151.75,27.51,76.0,5.63,98.0,
65,marawi,1701054.0,PH,8.00,124.29,29.44,75.0,2.68,72.0,
73,caravelas,3466980.0,BR,-17.71,-39.25,22.60,85.0,2.01,8.0,
92,airai,1651810.0,TL,-8.93,125.41,22.31,70.0,2.27,99.0,
107,ixtapa,4004293.0,MX,20.70,-105.20,25.00,83.0,2.60,5.0,
108,manta,3654410.0,EC,-0.95,-80.73,27.00,74.0,3.60,75.0,
124,kloulklubed,7671223.0,PW,7.04,134.26,31.00,70.0,2.60,75.0,
134,bairiki,7601762.0,KI,1.33,172.98,30.00,74.0,6.20,40.0,
136,fare,4034496.0,PF,-16.70,-151.02,28.01,75.0,6.16,99.0,
137,mitsamiouli,921786.0,KM,-11.38,43.28,27.07,73.0,4.01,100.0,
142,kuala terengganu,1734705.0,MY,5.33,103.14,30.56,79.0,2.24,98.0,

In [192]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
#    "keyword": "international airport",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    Lat = row["Lat"]
    Lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "hotel_name"] = name_address["results"][0]["name"]
#        cities_pd.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
#        cities_pd.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [193]:
hotel_df.head(20)

,city_name,city_number,country,Lat,Lng,temp,humidity,wind,clouds,hotel_name
1,butaritari,2110227.0,KI,3.07,172.79,28.46,80.0,9.01,51.0,Santo Domingo
6,jeremie,3723593.0,HT,18.65,-74.12,26.35,77.0,0.92,5.0,Santo Domingo
10,rikitea,4030556.0,PF,-23.12,-134.97,24.36,71.0,3.45,0.0,Santo Domingo
27,bonthe,2409914.0,SL,7.53,-12.51,26.49,85.0,1.84,100.0,Santo Domingo
28,vaini,4032243.0,TO,-21.20,-175.20,26.00,78.0,2.60,75.0,Santo Domingo
37,kalmunai,1242110.0,LK,7.42,81.82,27.91,78.0,0.60,95.0,Santo Domingo
47,meulaboh,1214488.0,ID,4.14,96.13,27.57,81.0,2.07,100.0,Santo Domingo
49,finschhafen,2097418.0,PG,-6.60,147.87,27.07,80.0,2.96,100.0,Santo Domingo
60,atuona,4020109.0,PF,-9.80,-139.03,26.95,73.0,8.00,19.0,Santo Domingo
62,faanui,4034551.0,PF,-16.48,-151.75,27.51,76.0,5.63,98.0,Santo Domingo
65,marawi,1701054.0,PH,8.00,124.29,29.44,75.0,2.68,72.0,Santo Domingo
73,caravelas,3466980.0,BR,-17.71,-39.25,22.60,85.0,2.01,8.0,Santo Domingo
92,airai,1651810.0,TL,-8.93,125.41,22.31,70.0,2.27,99.0,Santo Domingo
107,ixtapa,4004293.0,MX,20.70,-105.20,25.00,83.0,2.60,5.0,Santo Domingo
108,manta,3654410.0,EC,-0.95,-80.73,27.00,74.0,3.60,75.0,Santo Domingo
124,kloulklubed,7671223.0,PW,7.04,134.26,31.00,70.0,2.60,75.0,Santo Domingo
134,bairiki,7601762.0,KI,1.33,172.98,30.00,74.0,6.20,40.0,Santo Domingo
136,fare,4034496.0,PF,-16.70,-151.02,28.01,75.0,6.16,99.0,Santo Domingo
137,mitsamiouli,921786.0,KM,-11.38,43.28,27.07,73.0,4.01,100.0,Santo Domingo
142,kuala terengganu,1734705.0,MY,5.33,103.14,30.56,79.0,2.24,98.0,Santo Domingo

In [194]:
narrowed_city_df = hotel_df.rename(columns={"city_name":"City", "country":"Country", "hotel_name":"Hotel Name"})
narrowed_city_df.head(20)

,City,city_number,Country,Lat,Lng,temp,humidity,wind,clouds,Hotel Name
1,butaritari,2110227.0,KI,3.07,172.79,28.46,80.0,9.01,51.0,Santo Domingo
6,jeremie,3723593.0,HT,18.65,-74.12,26.35,77.0,0.92,5.0,Santo Domingo
10,rikitea,4030556.0,PF,-23.12,-134.97,24.36,71.0,3.45,0.0,Santo Domingo
27,bonthe,2409914.0,SL,7.53,-12.51,26.49,85.0,1.84,100.0,Santo Domingo
28,vaini,4032243.0,TO,-21.20,-175.20,26.00,78.0,2.60,75.0,Santo Domingo
37,kalmunai,1242110.0,LK,7.42,81.82,27.91,78.0,0.60,95.0,Santo Domingo
47,meulaboh,1214488.0,ID,4.14,96.13,27.57,81.0,2.07,100.0,Santo Domingo
49,finschhafen,2097418.0,PG,-6.60,147.87,27.07,80.0,2.96,100.0,Santo Domingo
60,atuona,4020109.0,PF,-9.80,-139.03,26.95,73.0,8.00,19.0,Santo Domingo
62,faanui,4034551.0,PF,-16.48,-151.75,27.51,76.0,5.63,98.0,Santo Domingo
65,marawi,1701054.0,PH,8.00,124.29,29.44,75.0,2.68,72.0,Santo Domingo
73,caravelas,3466980.0,BR,-17.71,-39.25,22.60,85.0,2.01,8.0,Santo Domingo
92,airai,1651810.0,TL,-8.93,125.41,22.31,70.0,2.27,99.0,Santo Domingo
107,ixtapa,4004293.0,MX,20.70,-105.20,25.00,83.0,2.60,5.0,Santo Domingo
108,manta,3654410.0,EC,-0.95,-80.73,27.00,74.0,3.60,75.0,Santo Domingo
124,kloulklubed,7671223.0,PW,7.04,134.26,31.00,70.0,2.60,75.0,Santo Domingo
134,bairiki,7601762.0,KI,1.33,172.98,30.00,74.0,6.20,40.0,Santo Domingo
136,fare,4034496.0,PF,-16.70,-151.02,28.01,75.0,6.16,99.0,Santo Domingo
137,mitsamiouli,921786.0,KM,-11.38,43.28,27.07,73.0,4.01,100.0,Santo Domingo
142,kuala terengganu,1734705.0,MY,5.33,103.14,30.56,79.0,2.24,98.0,Santo Domingo

In [195]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [196]:
# Assign the marker layer to a variable
hotel_markers = gmaps.marker_layer(hotel_coordinates)
# Add the layer to the map
fig.add_layer(hotel_markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…